<!-- ALL PLACES VIEW -->
<div *ngIf="show==1">
    <div  class="row" *ngFor="let place of places" id="row">
        <img class="col s12 col m6 col l5" src="{{place.image}}" id="image">
        <div class="card col s12 col m6 col l7" id="card">
            <div class="card-content">
                <span class="title" id="title">{{place.name}}</span>
                <p id="description">{{place.description}}</p>
                <button class="waves-effect waves-light btn" id="button" style="background-color: #ED553B" (click)="getOneById(place._id)">MORE !</button>
            </div>
        </div>    
    </div>
</div>

<!-- ONE PLACE VIEW -->
<div class="row" *ngIf="show==2" id="row">
    <div class="col s12 col m3 col l2">
        <button class="waves-effect waves-light btn" id="button" (click)="reloadPage()" style="width:100%;background-color:#ED553B"><==</button>
    </div>
</div>
<div  class="row" *ngIf="show==2" id="row">
    <img class="col s12 col m6 col l5" src="{{getOnePlace.image}}" id="image">
        <div class="card col s12 col m6 col l7" id="card">
            <div class="card-content">
                <span class="title" id="title">{{getOnePlace.name}}</span>
                <p id="description2">{{getOnePlace.description}}</p>
            </div>
        </div>
        <div class="col s12 col m6">
            <img src="{{getOnePlace.images[0]}}" width="100%">
        </div>
        <div class="col s12 col m6">
            <img src="{{getOnePlace.images[1]}}" width="100%">
        </div>
        <div class="col s12 col offset-m3 m6 offset-m3">
            <img src="{{getOnePlace.images[2]}}" width="100%">
        </div>
</div>