<!-- GET STARTED VIEW -->
<div class="row" style="text-align: center;height:100vh;">
    <div class="col s12">
        <h1>MEAN STACK APP</h1>
    </div>
    <div class="col s12">
        <h5>This App contains beautiful images of different places of Argentina. It can be used as an example of how to
            manage rest api´s with the MEAN stack</h5>
    </div>
    <div class="col s12">
        <h5>TAKE A LOOK !</h5>
    </div>
    <div class="col s12 col m6">
        <button class="btn waves-effect waves-light" style="width:80%;margin:20px;background-color:#ED553B" routerLink="/registration" type="button">SIGN UP</button>
    </div>
    <div class="col s12 col m6">
        <button class="btn waves-effect waves-light" style="width:80%;margin:20px;background-color:#ED553B" routerLink="/login" type="button">SIGN IN</button>
    </div>
</div>