<!-- HOME VIEW -->
<div class="row" style="text-align: center;height: 100vh;">
    <div class="col s12">
        <h2>YOU ARE IN !</h2>
    </div>
    <div class="col s12">
        <h5>You Entered ! Now you can see a few beautiful places of Argentina as an example of a rest API.</h5>
    </div>
    <div class="col s12 col m6">
        <button class="btn waves-effect waves-light" style="width:80%;margin:20px;background-color:#ED553B" routerLink="/places" type="button">SEE THE PLACES</button>
    </div>
    <div class="col s12 col m6">
        <button class="btn waves-effect waves-light" style="width:80%;margin:20px;background-color:#ED553B" (click)="logout()" type="button">GET OUT OF THE APP</button>
    </div>
</div>