<!-- NAVBAR -->
<nav style="background-color:#ED553B">
  <div class="nav-wrapper">
    <a class="brand-logo" routerLink="/getstarted" *ngIf="!userService.isLogged()">Places App</a>
    <a class="brand-logo" routerLink="/home" *ngIf="userService.isLogged()">Places App</a>
    <!--<a class="brand-logo" routerLink="/home">Logo</a>-->
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/getstarted" *ngIf="!userService.isLogged()">GET STARTED</a></li>
          <li><a routerLink="/registration" *ngIf="!userService.isLogged()">SIGN UP</a></li>
          <li><a routerLink="/login" *ngIf="!userService.isLogged()">SIGN IN</a></li>
          <li><a routerLink="/home" *ngIf="userService.isLogged()">HOME</a></li>
          <li><a routerLink="/places" *ngIf="userService.isLogged()">PLACES</a></li>            
          <li><a routerLink="/bycategory" *ngIf="userService.isLogged()">BY CATEGORY</a></li>
          <li><a (click)="logout()" *ngIf="userService.isLogged()">LOGOUT</a></li>
        </ul>
  </div>
</nav>
  
<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/getstarted" *ngIf="!userService.isLogged()">GET STARTED</a></li>
  <li><a routerLink="/registration" *ngIf="!userService.isLogged()">SIGN UP</a></li>
  <li><a routerLink="/login" *ngIf="!userService.isLogged()">SIGN IN</a></li>
  <li><a routerLink="/home" *ngIf="userService.isLogged()">HOME</a></li>
  <li><a routerLink="/places" *ngIf="userService.isLogged()">PLACES</a></li>            
  <li><a routerLink="/bycategory" *ngIf="userService.isLogged()">BY CATEGORY</a></li>
  <li><a (click)="logout()" *ngIf="userService.isLogged()">LOGOUT</a></li>
</ul>


<router-outlet></router-outlet>